@layer primitives {
  .columns {
	--_columns-space: var(--space);
	--_columns-width: var(--content-width, 30rem);
	display:          flex;
	flex-wrap:        wrap;
	gap:              var(--_columns-space);
	
	> * {
	  flex-grow:  1;
	  flex-basis: calc((var(--_columns-width) - 100%) * 999);
	}
  }
}
