@layer primitives {
  .center {
	--_center-space:      var(--space, var(--space-0, 1rem));
	--_center-width:      var(--content-width, 65ch);
	--_center-margin:     var(--content-margin, auto);
	box-sizing:           content-box;
	margin-inline:        var(--_center-margin);
	max-inline-size:      var(--_center-width);
	padding-inline-start: var(--_center-space);
	padding-inline-end:   var(--_center-space);
	
	&[data-intrinsic] {
	  display:        flex;
	  flex-direction: column;
	  align-items:    center;
	}
  }
}




