@layer primitives {
  .box {
	--_box-space:   var(--space, var(--space-0, 1rem));
	--_border:      var(--border);
	--_color:       var(--color-dark, #202124);
	--_background:  var(--color-light, #fdfeff);
	padding:        var(--_box-space);
	border:         var(--_border) solid;
	outline:        var(--_border) solid transparent;
	outline-offset: calc(var(--_border) * -1);
	color:          var(--_color);
	background:     var(--_background);
	
	& * {
	  color: inherit;
	}
  }
}




