@layer primitives {
  .stack {
	--_stack-space:  var(--space, var(--space-0, 1.2rem));
	--_inherit:      var(--space, var(--space-0, 1.2rem));
	display:         flex;
	flex-direction:  column;
	justify-content: flex-start;
	/* row-gap:         var(--_space); */
	
	> * + * {
	  margin-block-start: var(--_stack-space);
	}
	
	:only-child {
	  block-size: 100%;
	}
	
	&[data-recursive] :is(* + *) {
	  --_stack-space:     inherit;
	  margin-block-start: var(--_stack-space);
	}
	
	& > & {
	  --_inherit:         inherit;
	  margin-block-start: var(--_inherit);
	}
  }
}
